---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
UseTab: Never
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Right
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: true
ColumnLimit: 100
IndentExternBlock: NoIndent
BreakBeforeBraces: Custom
BraceWrapping:
  # Modified Mozilla style
  AfterFunction: true
  AfterControlStatement: true
  AfterEnum: true
  AfterUnion: true
  AfterClass: true
  AfterNamespace: false
  AfterExternBlock: false
  AfterStruct: false
  BeforeElse: true
  BeforeCatch: true
  IndentBraces: false
  SplitEmptyFunction: true
