[submodule "third_party/poppler"]
	path = third_party/poppler
	url = https://github.com/noaione/poppler_mirror.git
[submodule "third_party/libjxl"]
	path = third_party/libjxl
	url = https://github.com/libjxl/libjxl.git
