[submodule "third_party/poppler"]
	path = third_party/poppler
	url = https://github.com/noaione/poppler_mirror.git
[submodule "third_party/jpegli"]
	path = third_party/jpegli
	url = https://github.com/google/jpegli.git
