/target
.DS_Store
.idea
__pycache__
.pytest_cache
.venv/
.env
venv/
env/

*.png
*.jpg
*.pdf
*.tiff
*.tif
*.ccitt
*.ccitt.params
*.jp2
*.jb2
*.jb2g
*.p[bgpn]m
!tiny-poppler/tests/**/*.pdf

build/

*.trace
*.dSYM/